@import "common.less";
@app-prefix: "ext-textlint-";
@fa-font-path: "chrome-extension://__MSG_@@extension_id__/fonts/font-awesome";

@font-face {
  font-family: 'ExtTextlintFontAwesome';
  src: url('@{fa-font-path}/fontawesome-webfont.woff2') format('woff2'),
    url('@{fa-font-path}/fontawesome-webfont.woff') format('woff'),
    url('@{fa-font-path}/fontawesome-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.ext-textlint-textarea-show-border {
  outline-width: 5px;
  outline-style: solid;

  &.ext-textlint-textarea-none {
    outline-color: fade(darken(@lint-passed-color, 10%), 60%);
  }
  &.ext-textlint-textarea-info {
    outline-color: fade(darken(@lint-info-color, 10%), 60%);
  }
  &.ext-textlint-textarea-warning {
    outline-color: fade(darken(@lint-warning-color, 10%), 60%);
  }
  &.ext-textlint-textarea-error {
    outline-color: fade(darken(@lint-error-color, 10%), 60%);
  }
}

.ext-textlint-tooltip {
  position: absolute;
  border-radius: 5px;
  background-color: #303030;
  margin: 0;
  padding: 0 10px 10px 10px;
  max-width: 480px;
  font-size: 12px;
  font-family: @app-font-family;
  font-weight: normal;
  text-shadow: 0 1px black;
  text-decoration: none;
  letter-spacing: normal;
  line-height: 120%;
  z-index: 99999;
  -webkit-font-smoothing: antialiased;

  .ext-textlint-tooltip-item {
    margin-top: 10px;
  }
  .ext-textlint-tooltip-text {
    display: block;
    color: #FFF;
    text-shadow: 0 1px black;
    white-space: pre;
    span { margin-right: 5px; }
  }
  .ext-textlint-tooltip-rule {
    display: block;
    color: #7F7F7F;
    font-size: 10px;
    text-align: right;
  }
}

.ext-textlint-icon-info {
  .fa-icon-info();
  font-family: ExtTextlintFontAwesome;
}
.ext-textlint-icon-warning {
  .fa-icon-warning();
  font-family: ExtTextlintFontAwesome;
}
.ext-textlint-icon-error {
  .fa-icon-error();
  font-family: ExtTextlintFontAwesome;
}

.ext-textlint-background-hide-marks {
  .ext-textlint-mark {
    visibility: hidden;
  }
}

.ext-textlint-mark {
  border-radius: 3px;
  box-shadow: 0 0 5px white;

  &.ext-textlint-info {
    background-color: fade(darken(@lint-info-color, 10%), 60%);
  }
  &.ext-textlint-warning {
    background-color: fade(darken(@lint-warning-color, 10%), 60%);
  }
  &.ext-textlint-error {
    background-color: fade(darken(@lint-error-color, 10%), 60%);
  }
}
