@import "common.less";
@import "@{fontawesome-path}/font-awesome.less";
@fa-font-path: @fontawesome-font-path;

@menu-pane-width: 200px;
@bottom-pane-height: 55px;

.icon-info { .fa-icon-info(); }
.icon-warning { .fa-icon-warning(); }
.icon-error { .fa-icon-error(); }
.icon-button i { margin-right: 3px; }

html {
  height: 100%;
}
body {
  min-width: 640px;
  min-height: 480px;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: @app-font-family;
  -webkit-font-smoothing: antialiased;
}

// options-view
.options-view {
  .top-pane {
    width: 100%;
    height: 100%;

    .menu-pane {
      position: fixed;
      left: 0;
      top: 0;
      width: @menu-pane-width;
      height: 100%;
      padding: 15px;
      z-index: 2;

      .nav li i {
        margin-right: 5px;
      }
    }
    .main-pane {
      width: 100%;
      height: 100%;
      padding: 15px 15px (@bottom-pane-height + 15px) @menu-pane-width;
      z-index: 1;

      .tab-content {
        max-width: 600px;
        margin: 0 auto;
      }
    }
  }
  .bottom-pane {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: @bottom-pane-height;
    padding: 10px;
    border-top: solid lightgray 1px;
    background-color: white;
    z-index: 3;
  }
}

// pages/page-panel
.page-panel {
  h1 {
    font-size: 200%;
    padding: 0;
    margin: 5px 0 15px 0;
    text-align: right;
    color: #999999;
    i { margin-right: 10px; }
  }

  h2 {
    font-size: 160%;
  }
}

// rules/rule-list
.rule-list {
  .rule-list-header {
    margin: 20px 0;
  }

  // rules/rule-list-filter
  .rule-list-filter {
    float: left;
    label {
      color: #999999;
      margin-right: 5px;
    }
  }

  // rules/rule-list-toggle
  .rule-list-toggle {
    float: right;
    text-align: right;
    white-space: nowrap;
    button { margin-left: 6px; }
  }

  // rules/rule-item
  .rule-item {
    margin-bottom: 16px;

    .rule-item-header {
      position: relative;
      border-bottom: 1px solid lightgray;
      margin-bottom: 5px;

      .rule-item-switch {
        float: right;
        margin-left: 5px;

        // rules/severity-switch
        .severity-switch {
          display: inline-block;

          button {
            outline: none;
          }
          i:before {
            color: #EFEFEF;
          }
          .active {
            .icon-error:before { color: darken(@icon-error-color, 20%); }
            .icon-warning:before { color: darken(@icon-warning-color, 20%); }
            .icon-info:before { color: darken(@icon-info-color, 20%); }
          }
        }

        // rules/rule-toggle
        .rule-toggle {
          display: inline-block;
          margin-left: 10px;
        }
      }

      .rule-item-title {
        padding-top: 5px;

        a, span {
          color: #999999;
          font-size: 90%;
          margin-right: 5px;
        }

        .rule-item-name {
          color: #666666;
          font-size: 140%;
          line-height: 1;
          margin-right: 5px;
        }
      }
    }

    .rule-item-body {
      .rule-item-description {
        .flag-icon {
          border: 1px solid #999999;
        }
      }
    }

    &.filtered {
      display: none;
    }
    &.disabled {
      .rule-item-header {
        .rule-item-switch {
          .severity-switch {
            display: none;
          }
        }
        .rule-item-title {
          .rule-item-name {
            color: #999999;
          }
        }
      }
      .rule-item-body {
        .rule-item-description {
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .rule-item-options {
          display: none;
        }
      }
    }
  }
}

// json-editor/json-editor
.json-editor {
  h3 {
    font-size: 130%;
    margin: 10px 0;
    padding: 0;
  }
  & > [data-schemapath="root"][data-schematype="boolean"] {
    display: none;
  }
  & > div > h3 {
    display: none;
  }

  .well {
    margin-top: 10px;
  }

  select {
    padding-right: 20px !important;
  }

  .btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }

  input[type=text][disabled],
  input[type=number][disabled],
  input[type=integer][disabled] {
    color: #CCCCCC;
  }
}

// about/about-page
.about-page {
  // about/author-section
  .author-section {
    .label {
      margin-right: 5px;
    }
    ul {
      margin: 10px 30px;
    }
    li i {
      margin-right: 5px;
    }
  }
}

// footer/footer-panel
.footer-panel {
  .links-area {
    padding: 3px;

    .app-brand {
      margin-left: 10px;
      margin-right: 10px;
      vertical-align: middle;
    }
    a.btn {
      text-transform: none;
      color: #666666;
    }
    .fa-star {
      color: #FFD32E;
    }
    .fa-twitter {
      color: #31C9FE;
    }
    .fa-github {
      color: #404040;
    }
    .fa-code-fork {
      color: #E54C4B;
    }
  }

  .save-area {
    text-align: right;

    button {
      width: 100%;
    }
  }
}
