@import "common.less";
@import "@{fontawesome-path}/font-awesome.less";
@fa-font-path: @fontawesome-font-path;

.icon-info { .fa-icon-info(); }
.icon-warning { .fa-icon-warning(); }
.icon-error { .fa-icon-error(); }
.icon-dismissed { .fa-icon-dismissed(); }

body {
  width: 45em;
  min-height: 25em;
  padding: 10px 0;
  overflow-y: auto;
  font-family: @app-font-family;
  -webkit-font-smoothing: antialiased;
}

.toggle-area {
  text-align: right;

  button {
    width: 16em;
  }
}

.settings-area {
  margin: 30px 30px 30px 40%;

  #presets {
    margin-left: 20px;
  }

  #formats {
    margin-left: 25px;
    margin-top: 15px;
  }
}

.marks-area {
  margin-top: 10px;

  #marks-filter {
    float: left;

    .stat-count {
      margin: 0 3px;
      font-weight: bold;
    }
    span {
      text-transform: lowercase;
    }

    .btn {
      min-width: 6em;
      color: #CCCCCC;

      &.active {
        color: #666666;
      }
      .icon-error:before { color: darken(@icon-error-color, 20%); }
      .icon-warning:before { color: darken(@icon-warning-color, 20%); }
      .icon-info:before { color: darken(@icon-info-color, 20%); }
      .icon-dismissed:before { color: darken(@icon-dismissed-color, 20%); }
    }
  }

  #marks-correct {
    text-align: right;

    i { margin-right: 3px; }
  }

  #marks {
    .mark-item {
      margin-top: 5px;
      cursor: pointer;

      &:hover {
        background-color: #232323;
      }
    }

    &.filter-error .mark-item-error { display: none; }
    &.filter-warning .mark-item-warning { display: none; }
    &.filter-info .mark-item-info { display: none; }
    &.filter-dismissed .mark-item-dismissed { display: none; }
  }

  #no-marks {
    .notice-mark {
      color: #67C147;
    }
  }
}

.notice {
  text-align: center;

  .notice-mark {
    font-size: 12em;
    color: #CCCCCC;
    margin: 10px;
  }
  p {
    padding: 0;
    margin: 10px 0;
  }
  p.notice-details {
    font-size: 90%;
    color: #999999;
  }
}

.mark-item {
  border-radius: 5px;
  background-color: #505050;
  padding: 8px 12px;
  line-height: 120%;

  .mark-item-text {
    float: left;
    color: white;
    font-size: 12px;
    text-shadow: 0 1px black;
    white-space: pre-wrap;
    i { margin-right: 5px; }

    .mark-correctable {
      color: #A5FF92;
    }
  }

  .mark-item-menu {
    display: none;
    float: right;
    font-size: 12px;
    text-align: right;
    margin-left: 7px;
    white-space: nowrap;

    a.mark-item-menu-item {
      color: #999999;
      margin-left: 3px;
    }
    a.mark-item-menu-item:hover {
      color: white;
      text-decoration: none;
    }
  }
  &:hover {
    .mark-item-menu {
      display: block;
    }
  }

  .mark-undismiss {
    display: none;
  }
  &.mark-item-dismissed {
    .mark-dismiss {
      display: none;
    }
    .mark-undismiss {
      display: inline-block;
    }
  }

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.default-hidden {
  display: none;
}
