@import "../../bower_components/font-awesome/less/font-awesome.less";
@fa-font-path: "../fonts/font-awesome";

@import "common.less";

body {
  width: 40em;
  min-height: 20em;
  padding: 10px;
  overflow-y: auto;
  color: #333333;
  font-family: @app-font-family;
  -webkit-font-smoothing: antialiased;
}
body .pure-g [class *= "pure-u"] {
  font-family: @app-font-family;
}

.toggle-area {
  text-align: right;

  button {
    width: 16em;
  }
  #deactivate-button {
    background-color: darken(rgb(0, 120, 231), 10%);
    text-shadow: 0 1px rgba(0, 0, 0, 0.8);
  }
}

.presets-area {
  margin: 30px;

  form {
    margin-left: 20px;

    input {
      margin-right: 5px;
    }
  }
}

.marks-area {
  margin-top: 10px;

  .marks-filter {
    text-align: right;

    .stat-count {
      margin: 0 3px;
      font-weight: bold;
    }

    button {
      font-size: 85%;
      margin-left: 5px;
      background-color: #666666;
      color: #FFF;
      text-shadow: 0 1px black;
      border-radius: 20px;
      min-width: 8em;

      &.active {
        background-color: #333333;
      }
    }
  }

  #marks {
    .mark-item {
      margin-top: 5px;
      cursor: pointer;

      &:hover {
        background-color: #232323;
      }
    }

    &.filtering {
      .mark-item { display: none; }
      &.filter-error .mark-item-error { display: block; }
      &.filter-warning .mark-item-warning { display: block; }
      &.filter-info .mark-item-info { display: block; }
    }
  }

  #no-marks {
    .notice-mark {
      color: #67C147;
    }
  }
}

.notice {
  text-align: center;

  .notice-mark {
    font-size: 12em;
    color: #CCCCCC;
    margin: 10px;
  }
  p {
    padding: 0;
    margin: 10px 0;
  }
  p.notice-details {
    font-size: 90%;
    color: #999999;
  }
}
